/* CSS Document */
/********** IMPORT ***********/
@font-face {
	font-family: 'fakt';
	src: url(../typeface/FaktPro-Blond.ttf);
}
@font-face {
	font-family: 'faktMedium';
	src: url(../typeface/FaktPro-Normal.ttf);
}
@font-face {
  font-family: 'faktBold';
	src: url(../typeface/FaktPro-SemiBold.ttf);
}

/*********** PRE-SETS ***********/
*, *::after, *::before {
  box-sizing:border-box;  
  margin: 0;
  padding: 0;
  font-family: 'fakt', sans-serif;
  font-weight: 145;
}



/**************************************************************************************************************************
>>>>>>>>>> HEADER <<<<<<<<<<
**************************************************************************************************************************/

header {
  position: sticky;
  top: 0;
  z-index: 100; /* zodat de header boven aan ligt */
}

header section:first-of-type {
  font-size: 11px;
  color: white;
  display: flex;
  justify-content: center;
  background-color: black;
  padding: 8px;
}

header section:first-of-type button {
  background: transparent;
  border: none;
  outline: none;
  justify-content: end;
  position: fixed;
  right: 10px;
}

header section:first-of-type button img {
  height: 12px;
  width: auto;
}

header > section:first-of-type.ontzichtbaar {
  display: none;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  /* flex-direction: row-reverse; */
  background-color: white;
  align-items: center;
  height: 50px;
  padding: 0 20px 0 20px;
}

header nav ul {
  position: absolute;
  left: 0px;
  top: 79px;
  height: calc(100vh - 79px);
  background-color: black;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  width: 75%;
  list-style: none;
  transform: translateX(-75vw);
  transition: 0.3s ease-out;
  padding: 35px 15px 35px 5px;
}

header nav ul li {
  margin-bottom: 16px;
}
header nav ul li a:hover {
  color: rgb(145, 145, 145);
}

header nav ul a {
  text-decoration: none;
  font-size: 14px;
  padding: 14px;
  color: white;
  opacity: 0%;
  transition: .3s;
}

header nav a:first-of-type img {
  height: auto;
  max-width: 100px;
}

header nav button {
  background: transparent;
  border: none;
  outline: none;
}

header nav button a img {
  width: 20px;
  height: 19px;
}
header nav button img {
  width: 20px;
  height: 19px;
}

nav button:last-of-type {
  display: block;
  order: -1;
}

nav ul.zichtbaar {
  transform: translateX(0);
}
nav ul li a {
  opacity: 100%;
}

/****************************>>> HEADER END <<<******************************/



/**************************************************************************************************************************
>>>>>>>>>> MAIN <<<<<<<<<<
**************************************************************************************************************************/

main {
  overflow-x: hidden;
}

main nav {
  display: flex;
  position: relative; 
}

main nav a {
  width: 50%;
  position: relative;
  outline: none;
}

main nav img{
  width: 100%;
}

main>nav>a>h2{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;

  text-decoration: none;
  -webkit-text-stroke: 1.5px white;
  -webkit-text-fill-color: transparent;
  font-size: 4.5em;
  font-weight: 900;
  text-transform:uppercase;
}

main>nav>a:last-of-type>h2 {
  transform: scaleX(.75);
}

main nav a h2:hover {
  -webkit-text-fill-color: white;
}

main nav a:focus h2{
  -webkit-text-stroke: 1.5px rgb(48, 75, 114);
}

main>section:first-of-type {
  padding: .7em;
}


/****>>> GRID <<<****/

.spotlightProducts {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto auto 60vw;
  grid-gap: .5em;
}

.spotlightProducts a {
  text-decoration: none;
  color: black;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  grid-template-columns: 1fr;
}

.spotlightProducts h2 {
  font-size: 1em;
  font-weight: 300;
  max-width: calc(100% - 50px);
  min-height: 40px;
  font-size: 13px;
}

.spotlightProducts p {
  max-width: 50px;
  font-family: 'faktMedium', sans-serif;
  font-size: 13px;
}

.spotlightProducts img {
  max-width: 100%;
  height: auto;
  max-height: 700px;
  order: -1;
  margin-bottom: 15px;
  grid-column: 1/-1;
  object-fit: contain;
}

main>section:first-of-type>a:first-of-type, main>section:first-of-type>a:nth-of-type(2) {
  padding: 1em 0 calc(1em + 2vw) 0;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 27px;
}

main>section:first-of-type>a:first-of-type>img, main>section:first-of-type>a:nth-of-type(2)>img {
  width: 100%;
  height: 240px;
  object-fit: cover;
}

main>section:first-of-type>a:first-of-type>p, main>section:first-of-type>a:nth-of-type(2)>p{
  max-width: none;
  width: 70px;
  padding-bottom: .45em;
}

main>section:first-of-type>a:first-of-type>h3, main>section:first-of-type>a:nth-of-type(2)>h3{
  max-width: 100%;
  text-transform: uppercase;
  font-size: 14px;
  padding-right: 15px;
}

main>section>a:nth-last-of-type(2), main>section>a:last-of-type {
  align-content: flex-start;
  padding-top: 50px;
}

main>section>a h5 {
  text-transform: uppercase;
  padding-bottom: 5px;
  border-bottom: solid 1px black;
}

main>section>a:nth-last-of-type(2)>p, main>section>a:last-of-type>p{
  min-width: 40vw;
  padding-top: 10px;
}

main>section>a:nth-last-of-type(2) img, main>section>a:last-of-type img{
  width: 100%;
  height: auto;
  object-fit: scale-down;
}


/****************************>>> MAIN END <<<******************************/



/**************************************************************************************************************************
>>>>>>>>>> FOOTER <<<<<<<<<<
**************************************************************************************************************************/

footer {
  background-color: black;
  color: white;
  padding: .7em;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  font-size: 12px;
  /* border: dotted 2px yellow; */
  align-content: center;

}

footer h4 {
  font-size: 12px;
  font-weight: 140;
  padding: 2px 10px 2px 0;
  /* border: dotted 2px red; */
  display: inline-block;
  text-transform: uppercase;
}
footer>section:first-of-type>p {
  padding: 15px 0 3px 0;
}

footer>section:first-of-type {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: dotted 2px blue; */
  padding: 25px 0 35px 0;
}

input {
  width: 270px;
  height: 35px;
  margin: 15px 0;
  padding: 0 10px;
  text-align: center;
  border-radius: 0;
  border: 1px solid white;
  background-color: black;
  color: white;
  outline: none;
}
input::placeholder {
  color: white;
  font-weight: 100;
  font-size: 12px;
}
footer>section>button {
  width: 270px;
  height: 35px;
  text-align: center;
  border-radius: 0;
  border: none;
  background-color: white;
  outline: none;
}


/****>>> Fold out menu <<<****/

footer>section>section {
  border-top: solid 1px white;
}

footer>section:last-of-type {
  border-bottom: solid 1px white;
  width: 100%;
}

footer>section>section h2 {
  list-style: none;
  padding: 10px 0 10px 0;
  width: 95%;
  font-size: 12px;
  text-transform: uppercase;
}

footer>section>section h2:hover {
  color: rgb(212, 212, 212);
}

footer>section>section>ul>li>a:hover {
  color: rgb(212, 212, 212);
}

footer>section>section>ul>li {
  padding-top: 10px;
}

footer>section>section>ul {
  list-style: none;
  display: none;
}

footer>section>section>ul.laatZien {
  display: unset;
}

footer>section>section>ul>li:last-of-type {
  padding-bottom: 30px;
}

footer>section>section>ul>li>a {
  text-decoration: none;
  color: white;
}

footer section>section>p {
  align-self: center;
  font-size: 16px;
  color: white;
}

footer>section:last-of-type>section:first-of-type {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

footer>section:last-of-type>section:nth-of-type(2) {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

footer>section:last-of-type>section:last-of-type {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

footer>p {
  align-self: center;
  font-size: 10px;
  padding: 20px 0 27px 0;
}


/****************************>>> FOOTER END <<<******************************/



/**************************************************************************************************************************
>>>>>>>>>> @MEDIA <<<<<<<<<<
**************************************************************************************************************************/

@media screen and (min-width: 640px) {
  
  /****** MAIN ******/

  main>nav>a:last-of-type>h2 {
    transform: scaleX(.8);
  }
  main>nav>a>h2{
    font-size: 6.2em;
  }
}

@media screen and (min-width: 798px) {

  /****** HEADER ******/

  header nav {
    display: flex;
    justify-content: space-between;
  }

  header nav button:last-of-type {
    display: none;
  }

  header nav ul {
    position: static;
    left: auto;
    top: auto;
    height: auto;
    background-color: transparent;
    flex-direction: row;
    align-items: center;
    width: auto;
    transform: none;
    padding: 0;
  }
  header nav ul li {
    margin-bottom: 0;
  }

  header nav ul a {
    display: block;
    color: black;
    opacity: 100%;
  }
  

  /****** MAIN ******/

  main>nav>a:last-of-type>h2 {
    transform: scaleX(1);
  }


  /****** FOOTER ******/

  footer>section>section>ul {
    display: unset;
  }
  footer>section:last-of-type>section {
    padding: 0 20px 10px 20px;
  }
  footer>section:last-of-type {
    max-width: 80%;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
  }

  footer>section>section {
    border-top: none;
  } 
  footer>section>section>p {
    display: none;
  }
  footer>section>section>h2 {
    padding: 0 15px 5px 0;
    margin-bottom: 20px;
    border-bottom: solid 1px white;
  }
  footer>section:last-of-type {
    border-bottom: none;
  }

} 


/****************************>>> @MEDIA END <<<******************************/



/**************************************************************************************************************************
>>>>>>>>>> EXTRA'S <<<<<<<<<<
**************************************************************************************************************************/



/****>>> ERROR PAGE <<<****/

.error {
  display: block;
  justify-content: center;
  text-align: center;
  margin: 70px 50px 20px 50px;
  text-decoration: none;
  color: #333;
}

.error main {
  max-height: calc(100vh - 470px);
  padding: 20vw;
  overflow-y: hidden;
}

a.error {
  display: inline-block;
  width: 270px;
  height: 35px;
  margin: 50px calc(50% - 135px) 70px calc(50% - 135px);
  border: solid 1px black;
  padding: 8px;
}
